html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.firstdiv{
      background-image: url('https://github.com/MaktubHQ/bmo/blob/main/bmowebsite/cover.jpg');
      background-repeat: no repeat;
       background-size: 500px;
       background-position: center;
      
      height: 110vh;
      width:100%;
     
}
